:root{
    --bg_color: rgb(240, 235, 240);
    --header_bg: rgb(59, 31, 57);
    --header_title_container: rgb(9, 4, 44);
    --text_for_darkbg: rgb(181, 176, 193);
    --table-head-color: rgb(99, 61, 61);
    --searchlistcolor:rgb(219, 213, 231);
}
*{
    margin: 0;
}

.general-container{
    background-color: var(--bg_color);
    width: 100vw;
    height: 100vh;
}

/*--- Header*/
.mainheader{
    width: 100%;
    height: fit-content;
    display:  flex;
    position: relative;
    background-color: var(--header_bg); 
    color: var(--text_for_darkbg);
}
.mainheader div {padding: 5px 5px;}

.title_container{
    position: relative;
    width: 30vw;
    height: fit-content;
    border: 0px;
    background-color: var(--header_title_container);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left_column{
    width: 70vw;
}.left_column div{
    width: 30%;
    right: 0;
    margin-right: 0;
    display: block;
}.left_column div form input{
    background-color: rgb(176, 175, 183);
}

/* list */
#local-search{
    z-index: 1;
}
.hidden{
    display: none !important;
}
.contianer-search-list{
    width: 14% !important;
    height: fit-content;
    max-height: 200px !important;
    margin-top: 35px;
    right: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    transform: translateY(-1px);
    transform: translateX(-77px);
    background-color: var(--searchlistcolor);
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 2px 5px 1px rgba(17, 15, 158, 0.384);

}.contianer-search-list a{
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    color: rgb(132, 123, 211);
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}.contianer-search-list a svg {
    margin-left: 5px;
    margin-right: 5px;
}

/* ----body page */
.body-page{
    padding-top: 3vw;
    height: auto;
    width: auto;
}

/* ----table */
.table-container{
    width: 85vw;
    height: fit-content;
    max-height: 35rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background-color:  rgb(224, 217, 225);
    box-shadow: 1px  1px 10px 1px rgba(139, 132, 132, 0.578);

}
.btn{
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    list-style: none;
}
.btn label, .btn svg{
    margin: 5px 10px;
}